*{
    background-color: black;
}
div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(239, 31, 173);
    position: relative;
    -webkit-animation: go 2s infinite;
    animation: go 2s infinite;
}
h2{
    color: azure;
}
p{
    color: azure;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes go {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes go {
    from {left: 0px;}
    to {left: 200px;}
}